.login a{
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    color: #343434;
    text-decoration: none;
}
.or{
    margin: -48px auto;
    position: relative;
    left: 0%;
    top: 135px;
    color: #343434;
    font-family: 'Economica', sans-serif;
    font-size: 6rem;


    span{
        color: #fff;
    }
}


header{
    display: flex;
    // justify-content: center;
    // align-items:center;
    width: 100%;
    height: 400px;;
    font-family: 'Economica', sans-serif;
    font-size: 6rem;
    border-bottom: 1px solid #343434;
 
    .headerLeft{
        .center();
        background-color: #343434;
        color: #fff;
        // height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        // align-items: flex-end;
        // padding: 75xpx 100px;

        img{
            width: 128px;
            }

    }

    .headerRight{
        .center();
        background-color: #fff;
        color: #343434;
        // height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        // padding: 75px 100px;

        img{
            width: 128px;
        }

    }
}