.login a{
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    color: #2f3f60;
    text-decoration: none;

    @media @mobile{
        color: #fff;
        font-size: 1rem;
        right: 30px;
    }
}
.or{
    margin: -48px auto;
    position: relative;
    left: 0%;
    top: 179px;
    color: #343434;
    font-family: 'Economica', sans-serif;
    font-size: 6rem;

    @media @mobile{
        top: 172px;
        color: rgb(143, 0, 0);
        display: none;
    }

    span{
        color: #fff;

        @media @mobile{
            color: rgb(143, 0, 0);
            display: none;
        }
    }
}
