.container{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    header{
        display: flex;
        width: 100%;
        height: 500px;;
        font-family: 'Economica', sans-serif;
        font-size: 6rem;

        .headerLeft{
            .center();
            background-color: #343434;
            color: #fff;
            // height: 300px;
            width: 100%;
            display: flex;
            flex-direction: column;

            img{
                width: 128px;
                color: red;
            }

        }

        .headerRight{
            .center();
            background-color: #fff;
            color: #343434;
            // height: 300px;
            width: 100%;
            display: flex;
            flex-direction: column;

            img{
                width: 128px;
            }

        }
    }
}