// NavBar.scss

.navbar {

  display: flex;
  background-color: lightblue;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  a {

    text-decoration: none;
    padding: 10px;
    color: purple;
    font-size: 1.6rem;

    &:hover {

      color: lighten(purple, 10%);

    }

  }

}
