// NavBar.scss

.navbar {

  display: flex;
  background-color: lightblue;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;

  a {

    text-decoration: none;
    padding: 10px;
    color: purple;
    font-size: 1.6rem;

    &:hover {

      color: lighten(purple, 10%);

    }

  }

  .user {

    margin-right: 15px;
    font-size: 1.6rem;
    color: purple;
    padding: 10px;
    cursor: pointer;

    &:hover {

      color: lighten(purple, 10%);

    }

  }

  .dropdown {

    position: absolute;
    right: 0;
    top: 100%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;

    a {

      padding: 10px;

    }

  }

}
