// QuizPreview.scss

.quiz-preview {

  display: flex;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  border-left: 4px solid rgb(240, 240, 240);
  color: black;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;

  &:nth-child(even){
    background-color: #fff;

  }

  .details {

    display: flex;

  }

  .user-link {

    text-decoration: underline;
    color: darkblue;

    &:hover {

      color: blue;

    }

  }

  &:hover {

    background-color: rgb(219, 219, 219);
    border-left: 4px solid green;

  }

  p {

    padding: 10px;

  }

  h2 {

    margin-left: 15px;

  }

}
