/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.login a {
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  color: #343434;
  text-decoration: none;
}
.or {
  margin: -48px auto;
  position: relative;
  left: 0%;
  top: 135px;
  color: #343434;
  font-family: 'Economica', sans-serif;
  font-size: 6rem;
}
.or span {
  color: #fff;
}
header {
  display: flex;
  width: 100%;
  height: 400px;
  font-family: 'Economica', sans-serif;
  font-size: 6rem;
  border-bottom: 1px solid #343434;
}
header .headerLeft {
  justify-content: center;
  align-items: center;
  background-color: #343434;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
}
header .headerLeft img {
  width: 128px;
}
header .headerRight {
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #343434;
  width: 100%;
  display: flex;
  flex-direction: column;
}
header .headerRight img {
  width: 128px;
}
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: inherit;
}
body a.signUp {
  margin: -80px auto 50px;
  font-size: 2rem;
  padding: 10px 15px;
  border: 1px solid #343434;
  border-radius: 4px;
  background-color: #fff;
  color: #343434;
  text-decoration: none;
}
body a.signUp:hover {
  background-color: #007bff;
  color: #fff;
}
body .container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.carousel {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-height: 400px;
  position: relative;
  overflow: hidden;
  margin: 16px auto;
}
.carousel .left-button,
.carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  color: #fff;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: #a7a7a7;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.carousel img {
  max-width: 100%;
  display: none;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
footer h3 {
  font-size: 1rem;
}
footer img {
  height: 15px;
}
footer span {
  cursor: pointer;
}
footer .footerContent {
  margin-top: 10px;
  line-height: 1.5;
}
footer .display {
  display: none;
}
/* Full-width input fields */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
img.avatar {
  width: 40%;
  border-radius: 50%;
}
.container {
  padding: 16px;
}
span.psw {
  float: right;
  padding-top: 16px;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  max-width: 300px;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}
@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
