/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.mobileMenu {
  display: none;
  flex-direction: column;
}
@media (max-width: 500px) {
  .mobileMenu {
    display: block;
    font-size: 1.4rem;
    color: #fff;
    background-color: #2f3f60;
    width: 100%;
    padding: 5px 5px;
  }
}
.menuModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
  padding-top: 60px;
}
.menuModal a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  width: 80px;
}
.login a {
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  color: #343434;
  text-decoration: none;
}
@media (max-width: 500px) {
  .login a {
    color: #fff;
    font-size: 1rem;
    right: 10px;
    display: none;
  }
}
header {
  display: flex;
  width: 100%;
  height: 400px;
  font-family: 'Economica', sans-serif;
  font-size: 6rem;
  border-bottom: 1px solid #2f3f60;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    height: 100%;
    font-size: 3rem;
  }
}
header .headerLeft {
  justify-content: center;
  align-items: center;
  background-color: #2f3f60;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  header .headerLeft {
    flex-direction: row;
    padding: 15px 0;
    justify-content: space-evenly;
    font-size: 3rem;
  }
}
header .headerLeft img {
  width: 128px;
}
@media (max-width: 500px) {
  header .headerLeft img {
    width: 64px;
  }
}
header .headerRight {
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #343434;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  header .headerRight {
    flex-direction: row;
    padding: 15px 0;
    justify-content: space-evenly;
    font-size: 3rem;
  }
}
header .headerRight img {
  width: 128px;
}
@media (max-width: 500px) {
  header .headerRight img {
    order: -1;
    width: 64px;
  }
}
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: inherit;
}
body .or {
  margin: -48px auto;
  position: relative;
  left: 0%;
  top: 137px;
  color: #343434;
  font-family: 'Economica', sans-serif;
  font-size: 6rem;
}
@media (max-width: 500px) {
  body .or {
    display: none;
  }
}
body .or span {
  color: #fff;
}
body .signUp {
  position: relative;
  left: 0;
  top: 363px;
  width: 55px;
  font-size: 1rem;
  padding: 10px 15px;
  border: 1px solid #343434;
  border-radius: 4px;
  background-color: #fff;
  margin: -38px auto 0;
  color: #343434;
  text-decoration: none;
}
body .signUp:hover {
  background-color: #007bff;
  color: #fff;
}
@media (max-width: 500px) {
  body .signUp {
    display: none;
  }
}
body .container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
body .container .features {
  display: flex;
}
@media (max-width: 500px) {
  body .container .features {
    flex-direction: column;
  }
}
body .container .features .feature {
  max-width: 500px;
  margin-top: 15px;
  padding: 5px;
}
body .container h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.carousel {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-height: 200px;
  position: relative;
  overflow: hidden;
  margin: 16px auto;
}
.carousel .fas,
.carousel .fa-chevron-circle-left,
.carousel .fa-chevron-circle-right {
  display: block;
}
.carousel .left-button,
.carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  color: #fff;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: #a7a7a7;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.carousel img {
  max-width: 100%;
  display: none;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
}
footer h3 {
  font-size: 1rem;
}
footer img {
  height: 15px;
}
footer span {
  cursor: pointer;
  text-decoration: underline;
}
footer .footerContent {
  margin-top: 10px;
  line-height: 1.5;
  background-color: #2f3f60;
  color: #fff;
  width: 100%;
  display: flex;
}
footer .footerContent .fContent {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footerContent .fContent a {
  color: #fff;
}
footer .display {
  display: none;
}
/* Full-width input fields */
input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Set a style for all buttons */
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}
.modal .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  max-width: 300px;
}
.modal .modal-content .container {
  padding: 16px;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}
@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
