// GamePage.scss

.correct-bg {

  background-color: green;

}

.incorrect-bg {

  background-color: #680811;

}

.game-page {

  text-align: center;
  padding: 10px;

  .preview {

    text-align: center;
    max-width: 500px;
    margin: 5% auto;
    background-color: #fff;
    border: 1px solid #cacaca;
    border-radius: 4px;
    padding: 10px;  

    h2{
      font-weight: 300;
      font-size: 3rem;
    }

    .author{
      margin: 10px 0;

      .user-link{
        text-decoration: underline;
        cursor: pointer;
      }
    }
  
  

    button{
      padding: 5px 10px;
      margin-top: 10px;
      background-color: #fff;
      border: 1px solid #343434;
      border-radius: 4px;
      font-size: 1.6rem;
      cursor: pointer;

      &:hover{
        background-color: lightblue;
      }
    }


  }

  .correct {

    color: #209e04;
    position: absolute;
    top: 45%;
    left: 50%;
    transform:translateX(-50%);
    text-align: center;
    margin: auto;

  }

  .incorrect {

    color: #d8370a;
    position: absolute;
    top: 45%;
    left: 50%;
    transform:translateX(-50%);
    text-align: center;
    margin: auto;

  }

  .bonus-txt {

    color: #209e04;
    position: absolute;
    top: 60%;
    left: 50%;
    transform:translateX(-50%);
    text-align: center;
    margin: auto;

  }

  .hi-bonus-txt {

    color: #209e04;
    position: absolute;
    top: 65%;
    left: 50%;
    transform:translateX(-50%);
    text-align: center;
    margin: auto;

  }

  .game {

    max-width: 500px;
    margin: 5% auto;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #cacaca;
    border-radius: 4px;

    img {

      width: auto;
      height: 300px;
      margin: 10px auto;
      border-radius: 4px;

    }

    h1 {

      font-size: 2.8rem;

    }

    h2 {

      margin-top: 10px;

    }

    button {

      margin: 0 5px;
      border: 1px solid black;
      background-color: white;
      padding: 10px 25px;
      border-radius: 4px;
      cursor: pointer;

    }

    .dead {

      background-color: #d8370a;

      img{
        height: 40px;
        width: 40px;
      }

      &:hover {

        background-color: lighten(#d8370a, 20%);

      }

    }

    .alive {

      background-color: #209e04;

      img{
        height: 40px;
        width: 40px;
      }

      &:hover {

        background-color: lighten(#209e04, 10%);

      }

    }

  }

  .gameover{

    max-width: 500px;
    margin: 5% auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #cacaca;
    border-radius: 4px;

    button{
      padding: 5px 10px;
      margin-top: 10px;
      background-color: #fff;
      border: 1px solid #343434;
      border-radius: 4px;
      font-size: 1.6rem;
      cursor: pointer;

      &:hover{
        background-color: lightblue;
      }
    }
  }

}
