// MainPage.scss

.main-page {

  width: 70%;
  margin: auto;


  @media (max-width: 400px) {
      width: 95%;
  }

  @media(max-width: 800px){
    width: 85%;
  }

  @media(max-width: 400px){
    width: 95%;
  }
  
  h1 {

    text-align: center;
    font-weight: 300;
    font-size: 3rem;

  }

}
